body{
    background-color: rgba(0, 0, 0, 0.877);

    
}


.para{
    margin-top: 15rem;
    color: white;
    text-align: center;

}

.box{
        text-align: center;
        margin-top: 50px;

}

button{
    background-color: red;
    color: white;
    height: 50px;
    width: 10rem;
    border-radius: 5px;
    
    
}

